body {
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background:url("../image/fun.jpg");
    font-size: 85%;
    margin: 0;
}x

h2 {
    font-size: 220%;
    font-weight: 400;
}

.content {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translate(0, -50%);
    text-align: center;
}

.timer {
    font-size: 180%;
    line-height: 1.5;
    margin: 1em 0;
}

.timer b {
    color: rgb(253, 99, 125);
}
